.documentation {
    background: rgb(59, 59, 59);  
    min-height: 100vh;  
    display: flex;

}

.documentation nav {
    width: 25vw;
    min-height: 1000px;
    /* background: linear-gradient(to right, #0A360C 0%, #3b3b3b 90%); */
    background: rgb(92, 92, 92);
}


.docs_main {
    width: 69vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(236, 236, 236);
    padding: 0 3% 2% 3%;
}

.docs_main div {
    width: 100%;
}

.docs_main h4,
.docs_main h3 {
    color: #a0a0a0;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
}

.docs_main h3 {
    font-size: 1.4em;
    border-bottom: 1px solid grey;
    padding-bottom: 1%;
}

.docs_main h4 {
    font-size: 1.2em;
}

.docs_main p {
    text-align: left;
}

.example{
    padding: 1%;
    margin-left: 2%;
    background: #fff;
    color: #000;
}

.code {
    width: auto !important;
}

.multi_line p {
    margin: 0;
    margin-left: 20px;
}

.multi_line p:nth-of-type(1),
.multi_line p:nth-of-type(9),
.ml_2 p:nth-of-type(8),
.ml_3 p:nth-of-type(5),
.ml_3 p:nth-of-type(6),
.ml_3 p:nth-of-type(10)
{
margin-left: 0;
}

.ml_3 p:nth-of-type(9) {
    margin-left: 20px;
}

.offset {
    margin-left: 50px;
}