.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    letter-spacing: 2px;
  }
  h3 {
    width: 100%;
    color: #396447;
    padding-bottom: 1%;
    border-bottom: 1px solid #c9c9c9;
  }
  a {
    color: #396447;
    text-decoration: none;
    :hover {
      text-decoration: underline;
      opacity: 0.7;
      transform: scale(1.02);
    }
  }
  li {
    margin-left: 60px;
    font-size: 0.9em;
  }
}

.about_cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  text-align: left;
}

@media (max-width: 900px) {
  .about_cont {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .about_cont p,
  .about_cont ul,
  .about_cont li {
    font-size: 0.8em;
  }
}
