.character{
    margin: 3%;
    width: 225px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.char_btm {
    background: #fff;
    margin-left: -20px;
    position: relative;
    height: 120px;
    transition: 1s;        
}

.btm2 {
    margin-top: -200px;
    height: 320px;
    transition: 1s;
    opacity: .9;
}


.char_btm:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: rgb(172, 172, 172);
	border-top: 0;
	border-right: 0;
	margin-top: -20px;
}

.char_btm p {
    font-size: .9em;
}

.character img {
    height: 300px;
    width: 100%;
    object-fit: fill;
    overflow: hidden;
    opacity: .8;
}

.char_btm div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bee_logo {
    width: 30px !important;
    height: 30px !important;
}

.underline {
    border-bottom: 1px solid rgb(212, 212, 212);
}

.character h4 {
    letter-spacing: 2px;
}
