.character{
    margin: 3%;
    width: 225px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.char_btm {
    background: #fff;
    margin-left: -20px;
    position: relative;
    height: 120px;
    transition: 1s;        
}

.btm2 {
    margin-top: -200px;
    height: 320px;
    transition: 1s;
    opacity: .9;
}


.char_btm:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #acacac;
	border-top: 0;
	border-right: 0;
	margin-top: -20px;
}

.char_btm p {
    font-size: .9em;
}

.character img {
    height: 300px;
    width: 100%;
    object-fit: fill;
    overflow: hidden;
    opacity: .8;
}

.char_btm div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bee_logo {
    width: 30px !important;
    height: 30px !important;
}

.underline {
    border-bottom: 1px solid #d4d4d4;
}


.character h4 {
    letter-spacing: 2px;
}

.hidden_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden_info > div {
    display: flex;
    justify-content: space-between;
    width: 95%;
    border-bottom: 1px solid #e9e9e9;
}

.hidden_info > div:nth-of-type(4) {
    border-bottom: none;
}

.hidden_info > div > p:nth-of-type(1) {
    font-weight: bold;
}

.occ_map {
    font-size: .8em;
    margin: 0 0 0 5px;
}