.home_title {
  background: #fff;
  display: inline-block;
  margin-bottom: 30px;
}

.home_title h1 {
  margin-bottom: 0;
  font-size: 3.5em;
}

.home_title p {
  margin-top: 0;
  letter-spacing: 2px;
  text-align: right;
}

.character_map,
.quote_map {
  background: #3b3b3b;
  display: flex;
}

.character_map {
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.quote_map {
  flex-direction: column;
  color: #e0e0e0;
}

.sub_info {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.home input:focus {
  outline: none;
}

.test_api > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.death_map {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.death_map h3 {
  letter-spacing: 3px;
}

.death_map > div:nth-of-type(1) {
  display: flex;
  align-items: center;
}

.death_map button {
  margin-left: 20px;
  font-size: 0.9em;
  letter-spacing: 1.5px;
  background: transparent;
  border-radius: 5%;
}

.death_map button:hover {
  background: #ededed;
  transform: scale(1.05);
}

.death_map button:focus {
  outline: none;
}

.death_info {
  display: flex;
  animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.death_info img {
  height: 300px;
}

.death_info > div:nth-of-type(1) {
  border-right: 1px solid rgb(208, 208, 208);
  padding-right: 20px;
}

.death_info > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  width: 400px;
}

.death_info p {
  text-align: left;
}

@keyframes flip-in-ver-right {
  0% {
    transform: rotateY(-60deg);
    opacity: 0.4;
  }
  100% {
    transform: rotateY(0);
    opacity: 1;
  }
}

@media (max-width: 680px) {
  .death_map div {
    width: 95%;
  }

  .home_title h1 {
    font-size: 2em;
  }

  .home_title p {
    font-size: 0.9em;
  }

  .death_info {
    display: block;
  }

  .death_info > div:nth-of-type(1) {
    border: none;
    padding: 0;
    width: 100%;
  }

  .death_map > div:nth-of-type(1) {
    justify-content: center;
  }

  .death_map h3,
  .death_map button {
    font-size: 0.9em;
    letter-spacing: 1px;
  }
}

@media (max-width: 500px) {
  .death_info > div:nth-of-type(2) {
    width: 95%;
  }

  .death_map h3 {
    font-size: 0.7em;
    letter-spacing: 0;
  }
}
