.home_title {
    background: #fff;
}

.character_map,
.quote_map {
    background: rgb(59, 59, 59);
    display: flex;
    
}

.character_map {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.quote_map {
    flex-direction: column;
    color: #e0e0e0;
}

.home_btm {
    display: flex;
    justify-content: center;
}

.sub_info {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.home input:focus {
    outline: none;
}

.test_api > div {
    display: flex;
    justify-content: center;
    align-items: center;
}