.head_link {
    text-decoration: none;
    color: #000;
    margin-bottom: 10px
}

.header {
    height: 30vh;
    width: 100%;
}

.link_holder {
    display: flex;
    align-items: center;
    width: 50vw;
    justify-content: space-evenly;
    margin: 3% 0;
    padding: 1% 0;
    height: 40px;
}

.head_link:hover {
    transform: scale(1.03)
}

