.footer {
    display: flex;
    justify-content: center;
    margin: 5% 2% 1% 2%;
    border-top: 1px solid #7b7b7b;
    position: relative;
  }

  .github {
    position: absolute;
    height: 30px;
    left: 1%;
    top: 20%;
    cursor: pointer;
  }

  .github:hover {
    fill: #487F5A;
    transition: .7s;
  }

  @media (max-width: 800px) {
    .sub_info {
      width: 80%;
    }
}

@media (max-width: 600px) {
  .footer {
    justify-content: flex-end;
  }
  .sub_info {
    width: 90%;
  }
  .footer p {
    font-size: .7em;
  }
}

@media (max-width: 400px) {
  .footer p {
    font-size: .6em;
  }
}