.footer {
    display: flex;
    justify-content: center;
    margin: 5% 2% 1% 2%;
    border-top: 1px solid #7b7b7b;
    position: relative;
  }

  .github {
    position: absolute;
    height: 30px;
    left: 1%;
    top: 20%;
    cursor: pointer;
  }

  .github:hover {
    fill: #487F5A;
    transition: .7s;
  }